#contenedor-acerca {
  padding: 20px;

  text-align: center;
}

#nombre {
  font-weight: bold;
  margin-top: 30%;
}

#foto-perfil {
  border-radius: 5%;
}
@media (min-width: 576px) {
  #foto-perfil {
    position: absolute;
    width: 15%;
    box-shadow: 3px 3px 3px #000;
    left: 3%;
    top: 75%;
  }
}
@media (max-width: 575px) {
  #foto-perfil {
    position: absolute;
    width: 30%;
    box-shadow: 3px 3px 3px #000;
    left: 35%;
    top: 60%;
    margin: auto;
  }
}
