<div class="row m-0" id="contenedor-acerca">
  <div class="col-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/perfil.jpg"
      alt="Foto de perfil"
      class="img-fluid img-thumbnail"
      id="foto-perfil"
    />
  </div>
  <div class="col-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Branko Jose Valqui</p>
    <p id="titulo">Full Stack Developer Jr.</p>
  </div>
  <div class="col-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, totam
        esse maxime, ex, numquam sunt aspernatur similique odio dignissimos
        quasi suscipit harum delectus sapiente ad quia molestias illum excepturi
        itaque?
      </p>
    </span>
  </div>
</div>
