<div class="row m-0">
  <h2>Experiencia laboral</h2>
  <div class="col-lg-11" id="contenedor">
    <ul>
      <li>
        <h4>Estudio 1</h4>
        -
        <h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
        recusandae, incidunt modi voluptates asperiores nam, animi aliquam
        praesentium sit fugit minus, consequuntur assumenda eum placeat itaque
        voluptate nemo eos maxime!
      </p>
    </ul>
    <ul>
      <li>
        <h4>Estudio 2</h4>
        -
        <h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
        recusandae, incidunt modi voluptates asperiores nam, animi aliquam
        praesentium sit fugit minus, consequuntur assumenda eum placeat itaque
        voluptate nemo eos maxime!
      </p>
    </ul>
    <ul>
      <li>
        <h4>Estudio 3</h4>
        -
        <h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
        recusandae, incidunt modi voluptates asperiores nam, animi aliquam
        praesentium sit fugit minus, consequuntur assumenda eum placeat itaque
        voluptate nemo eos maxime!
      </p>
    </ul>
  </div>
</div>
