<div class="row m-0" >
  <div class="container" id="contenedor-logo">
    <div id="logoAP">
      <img src="../../../assets/APLogo.png" alt="logo-AP" id="logoAP" />
    </div>
    <div id="redes">
      <a href=""><img src="../../../assets/linkedin.png" alt="Linkedin" /></a>
      <a href=""><img src="../../../assets/twitter.png" alt="Twitter" /></a>
      <a href=""><img src="../../../assets/instagram.png" alt="Instagram" /></a>
      <a href=""><img src="../../../assets/github.png" alt="Github" /></a>
      <a href=""><img src="../../../assets/facebook.png" alt="Facebook" /></a>
      <button type="button" class="btn btn-outline-light" id="btn-ingreso">Login</button>
    </div>
  </div>
</div>
